/* CSS files add styling rules to your content */

body {
  background-image: url(https://cdn.glitch.com/9ff2536f-059f-40d6-966a-ef89ca398251%2FGradient_BW.jpg?v=1603779691048);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  border: 20px solid #D7DF21;
  height: 20px solid #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  
  font-family: helvetica, arial, sans-serif;

}

.blog {
  margin-bottom: 20px;
}

.date {
  color: #000000;
  letter-spacing: 0.2rem;
  text-transform:uppercase;
  font-weight: 600;
}

.paragraph{
  border-left: 5px solid #D7DF21;
  padding-left: 5px;
}


h1 {
  text-transform:uppercase;
  font-style: bolf;
  font-size: 2.0rem;
  font-weight: 1000;
  color: #D7DF21;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

p {
  color: #fff;
  font-weight: 100; 
}
