/* CSS files add styling rules to your content */

body {
  background-image: url(https://cdn.glitch.com/9ff2536f-059f-40d6-966a-ef89ca398251%2FGradient.jpg?v=1603775959618);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
